var config = {
	tahun_anggaran : "2021", // Tahun anggaran
	id_daerah : "xx", // ID daerah didapat dari https://[nama daerah].sipd.kemendagri.go.id/daerah/main/budget/belanja/2021/giat/unit/[id_daerah]/[id_unit]
	sipd_url : "https://xxx.sipd.kemendagri.go.id/", // alamat sipd sesuai kabupaten kota masing-masing
	user_sekda : "xxx", // user sekda
	pass_sekda : "xxx", // password sekda
	user_admin_ssh : "xxx", // username admin SSH
	pass_admin_ssh : "xxx", // password admin SSH
	user_kepala_skpd : "xxx", // user kepala OPD atau camat
	pass_kepala_skpd : "xxx", // password kepala OPD atau camat
	user_operator_sub_kegiatan : "xxx", // username operator sub kegiatan
	pass_operator_sub_kegiatan : "xxx", // password operator sub kegaitan
	url_server_lokal : "https://xxxxxxxxxx.com/wp-admin/admin-ajax.php", // url server lokal
	api_key : "xxxxxxxxxxxxxxxxxxx", // api key server lokal disesuaikan dengan api dari WP plugin
	tapd : [{
		nama: "nama tim tapd 1",
		nip: "12343464575656",
		jabatan: "Sekda",
	},{
		nama: "nama tim tapd 2",
		nip: "12343464575652",
		jabatan: "Kepala Bappeda",
	},{
		nama: "nama tim tapd 3",
		nip: "12343464575653",
		jabatan: "Kepala BPPKAD",
	}], // nama tim TAPD dalam bentuk array dan object maksimal 8 orang sesuai format SIPD
	tgl_rka : "auto", // pilihan nilai default "auto"=auto generate, false=fitur dimatikan, "isi tanggal sendiri"=tanggal ini akan muncul sebagai nilai default dan bisa diedit
	kepala_daerah : "Bapak / Ibu xxx xx.xx", // akan tampil di lampiran perda
	replace_logo : false // jika nilai true maka akan mengganti logo di SIPD dengan logo di file img/logo.png
};