var config = {
	tahun_anggaran : "2021", // Tahun anggaran
	extension_id : "xxxxxxxxxxxxxxxxxxx", // ID chrome extension
	sipd_url : "https://xxx.sipd.kemendagri.go.id/", // alamat sipd sesuai kabupaten kota masing-masing
	user_sekda : "xxx", // user sekda
	pass_sekda : "xxx", // password sekda
	user_admin_ssh : "xxx", // username admin SSH
	pass_admin_ssh : "xxx", // password admin SSH
	user_kepala_skpd : "xxx", // user kepala OPD atau camat
	pass_kepala_skpd : "xxx", // password kepala OPD atau camat
	user_operator_sub_kegiatan : "xxx", // username operator sub kegiatan
	pass_operator_sub_kegiatan : "xxx", // password operator sub kegaitan
	url_server_lokal : "https://xxxxxxxxxx.com/wp-admin/admin-ajax.php", // url server lokal
	api_key : "xxxxxxxxxxxxxxxxxxx", // api key server lokal disesuaikan dengan api dari WP plugin
};